@use "./pages/_members.scss";
@use "./pages/_cities.scss";
@use "./components/__confirmationDialog.scss";
@import "./quasar.variables";

body {
  font-family: "Inter", sans-serif;
}

.container-app {
  margin-left: 2%;
  margin-right: 2%;
}

.control-table-header {
  background-color: #f5f5f5 !important;
  th {
    font-size: 14px;
    padding: 14px 16px;
  }
}

.table-title {
  font-size: 14px !important;
  color: #424242;
}

.table-subtitle {
  color: #757575;
  font-size: 12px;
}

.table-chip {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e0e0e0;
  padding: 2px 8px;
  background-color: #f5f5f5;
  border-radius: 50px;
  color: #424242;
  font-weight: 500;
  svg {
    width: 12px;
    height: 12px;
  }
}

.gap-40 {
  gap: 40px;
}

.card-user {
  height: auto !important;
  padding: 32px;
  background-color: #f5f5f5 !important;
}

.route-name {
  font-size: 14px;
  color: #424242;
}

.route-sector {
  font-size: 12px;
  color: #757575;
}
